<a href="https://colab.research.google.com/github/BingHung/AI/blob/master/%5B02242019_2%5D_Python_L2_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Structures

Data structures are a way of organizing and storing data so that they can be accessed and worked with efficiently.  <br /> 
They define the relationship between the data, and the operations that can be performed on the data.  <br /> 

### Numbers

Python supports integers, floating point numbers and complex numbers. <br /> 
They are defined as int, float and complex class in Python. <br /> 

###  Lists

Lists are the most commonly used data structure.  <br /> 
Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma.  <br /> 
Each of these data can be accessed by calling it's index value.  <br /> 
A list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.  <br /> 


*   list index 
 *  We can use the index operator [ ] to access an item in a list. Index starts from 0. So, a list having 5 elements will have index from 0 to 4.
*   Negative indexing
 * Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.
*  Slicing
 * Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list.
It is written as parentlist[ a : b ] where a, b are the index values from the parent list.
* Built-in List Methods
 * Python includes the following list functions −
More methods https://www.programiz.com/python-programming/methods/list

### Tuples

A tuple is similar to a list.   <br /> 
The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas in a list, elements can be changed.  <br /> 
A tuple is created by placing all the items (elements) inside a parentheses ( ), separated by comma.  <br /> 

### Strings

A string is a sequence of characters. <br /> 
In Python, string is a sequence of Unicode character.   <br /> 
Unicode was introduced to include every character in all languages and bring uniformity in encoding.  <br /> 
You can learn more about Unicode from here.  <br /> 

###  Sets

A set is an unordered collection of items. <br /> 
Every element is unique (no duplicates) and must be immutable (which cannot be changed). <br /> 
Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc. <br /> 

### Dictionary

Python dictionary is an unordered collection of items. <br /> 
While other compound data types have only value as an element, a dictionary has a key: value pair. <br /> 
Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary  <br /> without any items is written with just two curly braces, like this: {}.<br /> 
More methods - https://www.programiz.com/python-programming/methods/dictionary

In [1]:
# Output: <class 'int'>
print(type(5))

# Output: <class 'float'>
print(type(5.0))

# Output: <class 'complex'>
c = 5 + 3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [0]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed datatypes
my_list = [1, "Hello", 2.3]

# nested list
my_list = ["mouse", [8, 4, 6]]

In [3]:
my_list = ['h','e','l','l','o']
# Output: h
print(my_list[0])

# Output: e
print(my_list[1])

# Error! Only integer can be used for indexing
# my_list[5.0]

# Nested List
n_list = ["Happy", [2,0,1,8]]

# Output: 8
print(n_list[1][3])

h
e
8

In [4]:
my_list = ['p','r','o','b','e']

# Output: e
print(my_list[-1])

# Output: p
print(my_list[-5])

e
p

In [5]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8]
# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

# slice a parent list with a fixed length or step length.
print(my_list[::3])

[2, 3, 4]
[0, 1, 2, 3]
[5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 3, 6]

In [6]:
num_list = [0, 0, 1, 2, 3, 4, 5, 6, 7, 8]

# append() is used to add an element at the end of the list.
num_list.append(9)

# remove() takes a single element as an argument and removes it from the list.
num_list.remove(9)

# index() is used to find the index value of a particular element. 
num_list.index(5)

# pop() takes a single argument (index) and removes the element present at that index from the list.
result = num_list.pop(7)
print(result)
print(num_list)

6
[0, 0, 1, 2, 3, 4, 5, 7, 8]

In [7]:
# empty tuple
# Output: ()
my_tuple = ()
print(my_tuple)

# tuple having integers
# Output: (1, 2, 3)
my_tuple = (1, 2, 3)
print(my_tuple)

()
(1, 2, 3)

In [8]:
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

Hello
Hello

In [9]:
my_str = 'Hello World!'
print('my_str = ', my_str)

# first character
print('my_str[0] = ', my_str[0])

# last character
print('my_str[-1] = ', my_str[-1])

# slicing 3nd to 5th character
print('my_str[2:5] = ', my_str[2:5])

my_str =  Hello World!
my_str[0] =  H
my_str[-1] =  !
my_str[2:5] =  llo

In [10]:
str1 = 'Hello'
str2 = 'World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [11]:
my_string = "hello world"

# Output: 0
print(my_string.find("he"))

# Output: Hello world
print(my_string.capitalize())

# Output: HELLO WORLD
print(my_string.upper())

# Output: True
print(my_string.endswith("d"))

# Output: ['hello', 'world']
print(my_string.split(" "))

# Output: Nihao word
print(my_string.replace("hello", "Nihao"))

0
Hello world
HELLO WORLD
True
['hello', 'world']
Nihao world

In [12]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [13]:
# mathematical set operations

set_1 = set(['s', 'p', 'a','m'])
set_2 = set(['h','a','m'])  
  
# union  
print(set_1 | set_2)
    
# intersection  
print(set_1 & set_2)
  
# symmetric difference  
print(set_1 - set_2)

{'s', 'p', 'm', 'a', 'h'}
{'a', 'm'}
{'s', 'p'}

In [0]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'a', 2: 'b'}

# dictionary with mixed keys
my_dict = {'name': 'Tom', 1: 23}

In [15]:
# Another define a dictionary - dict()
my_dict = dict()

# add elements
my_dict['One'] = '1'
my_dict['OneTwo'] = 12
print (my_dict)

# update value
my_dict['One'] = 111
print (my_dict)

# Merge two lists to a dictionary.
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
merged_dict = dict(zip(names, numbers))
print(merged_dict)

{'One': '1', 'OneTwo': 12}
{'One': 111, 'OneTwo': 12}
{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [16]:
my_dict = {'name':'Jack', 'age': 16, 'gender':'man'}

# remove a particular item
print(my_dict.pop('gender'))
print(my_dict)

# Returns view of dictionary's (key, value) pair
print(my_dict.items())

# Return a new view of the dictionary's keys.
print(my_dict.keys())

# remove all items
my_dict.clear()
print(my_dict)

man
{'name': 'Jack', 'age': 16}
dict_items([('name', 'Jack'), ('age', 16)])
dict_keys(['name', 'age'])
{}

## Practice

Q1. 給定一個 a_list = [3, 7, 6, 2, 9, 4, 1]，請列印出下列結果：  
    (1) 第2個元素  
    (2) 最後一個元素  
    (3) 第3到第5個元素的列表

In [19]:
a_list = [3, 7, 6, 2, 9, 4, 1]
print('second element in a_list :',a_list[1])
print('last element in a_list :',a_list[-1])
print('the third to fifth element in a_list :',a_list[2:5])

second element in a_list : 7
last element in a_list : 1
the third to fifth element in a_list : [6, 2, 9]

Q2. 

| 編號 | 姓名|
|---|---|
|s1|John|
|s2|Tom|
|s3|Lisa|

(1) 將上述表格資料，存成 Dictionary 的資料結構。 (key = 編號， value = 姓名)  
(2) 列印出該 key 為 s2 的 value 的值  
(3) 添加人員 編號 s4, 姓名 Mana
(4) 刪除人員 John

In [20]:
Dic = {"s1":"John", "s2":"Tom", "s3":"Lisa"}
print(Dic["s2"])
Dic["s4"]='Mana'
Dic.pop('s1')
print(Dic)

Tom
{'s2': 'Tom', 's3': 'Lisa', 's4': 'Mana'}