<a href="https://colab.research.google.com/github/BingHung/AI/blob/master/%5B02242019_3%5D_Python_L3_Control_Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Decision Making
Decision making is required when we want to execute a code only if a certain condition is satisfied.

In [1]:
# if

num = 3
if num > 0:
    print(num, "is a positive number.")

num = -1
if num > 0:
    print(num, "is a positive number.")

3 is a positive number.

In [3]:
# if...else

num = -1
if num >= 0:
    print(num, "Positive or Zero")
else:
    print(num, "is a Negative number")

-1 is a Negative number

In [2]:
 # if...elif...else

num = 0
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [4]:
# logical - or, and

num = 5

if num == 0 or num == 1:
    print("Zero or One")
elif num >= 2 and num <= 10:
    print("From 2 to 10")   
else:
    print('More')

From 2 to 10

In [5]:
# is, not

num = 4

# num == 4
if num is 4:
    print("num is 4")
    
# !(num == 5)
if not num == 5:
    print("num is not 5")

# num != 6
if num is not 6:
    print("num is not 6")

# !(num == 7)
if not num is 7:
    print("num is not 7")

num is 4
num is not 5
num is not 6
num is not 7

## Loop
In general, statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on.
A loop statement allows us to execute a statement or group of statements multiple times.

## For Loop
The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.

In [6]:
# for
# Program to find the sum of all numbers stored in a list

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# iterate over the list
# Here, val is the variable that takes the value of the item inside the sequence on each iteration.

sum = 0
for val in numbers:
    sum = sum + val

print("The sum is", sum)

The sum is 55

### For loop with range( ) function

In [7]:
# range(stop)
# range(start, stop[, step])

# range() returns an immutable sequence object of integers between the given start integer to the stop integer.
print(range(6))

range(0, 6)

In [8]:
# We can generate a sequence of numbers using range()  
# We can also define the start, stop and step size as range(start,stop,step size).   
# step size defaults to 1 if not provided.

numbers = [1, 2, 3, 4, 5, 6]

# iterate over the list using index
for i in range(len(numbers)):
    print("number", numbers[i])
    
# iterate over the list using 2 steps
for i in range(0, len(numbers), 2):
    print("2 steps", numbers[i])

number 1
number 2
number 3
number 4
number 5
number 6
2 steps 1
2 steps 3
2 steps 5

### For loop with enumerate( ) function

In [9]:
# the enumerate() function is used to iterate through a list while keeping track of the list items' indices.

pets = ('Dogs', 'Cats', 'Turtles', 'Rabbits')

for index, pet in enumerate(pets):
    print(index, pet)

0 Dogs
1 Cats
2 Turtles
3 Rabbits

## While Loop
In while loop, test expression is checked first. The body of the loop is entered only if the test_expression evaluates to True.
After one iteration, the test expression is checked again. This process continues until the test_expression evaluates to False.

In [10]:
# while

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

## Nested Loop

In [11]:
for i in range(0, 2):
    for j in range(0, 2):
        print("i=", i, "j=", j, ", i*j=", i*j)

i= 0 j= 0 , i*j= 0
i= 0 j= 1 , i*j= 0
i= 1 j= 0 , i*j= 0
i= 1 j= 1 , i*j= 1

##  break and continue

In Python, break and continue statements can alter the flow of a normal loop.

Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without checking test expression.

In [12]:
# break
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for val in numbers:
    if val >= 4:
        break
    print(val)

1
2
3

In [13]:
# continue
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for val in numbers:
    if val >= 3 and val <=8:
        continue
    print(val)

1
2
9
10

In [0]:
# pass
# pass is a null operation -- when it is executed, nothing happens. It is useful as a placeholder.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for val in numbers:
    pass

## List comprehension  
List comprehensions provide a concise way to create lists.
Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [15]:
# make new lists by using iterable
squares = []
for x in range(10):
     squares.append(x**2)

# Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
# equivalently
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.
The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it.

In [17]:
# with if
squares = [x**2 for x in range(10) if x % 2 == 0]
print(squares)


# equivalently
squares = []
for x in range(10):
    if x % 2 == 0:
        squares.append(x**2)

print(squares)

[0, 4, 16, 36, 64]
[0, 4, 16, 36, 64]

## Practice

Q1. 建立一個驗證密碼的小程式，程式內建一組字串密碼，請使用者輸入一組字串密碼，比對密碼是否輸入正確。

Expected Result:

請輸入密碼: Passw0rd 密碼正確

或

請輸入密碼: adfgg 密碼錯誤

Q2. 給予一個列表，計算出列表中元素為2的倍數的和。

Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] Expected Result : 30

Q3. 輸入人物的身高、體重，計算出該人物的 BMI 公式：BMI = 體重(公斤) / 身高*身高 (公尺)

P.S. 於2002年4月公布臺灣成人肥胖標準：BMI＜18.5 為過輕，18.5≦BMI＜24 為正常體重，24≦BMI＜27 為過重，BMI≧27 即為肥胖

Q4. 印出 1 到 50，但如果是 3 的倍數就印 Fizz，如果是 5 的倍數就印 Buzz，如果同時是 3 和 5 的倍數就印 FizzBuzz。

In [18]:
# Q1
password = input("請輸入密碼: ")

if password == "Passw0rd":
    print("密碼正確")
else:
    print("密碼錯誤")

請輸入密碼: PassOrd
密碼錯誤

In [19]:
# Q2. 
a_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for num in a_list:
    if num % 2 == 0:
        sum += num

print(sum)

30

In [21]:
# Q3.
height = float(input("What is your height? (公尺) : "))
weight = int(input("What is your weight? (公斤) : "))

bmi = round((weight / (height ** 2)), 2)
print("Your BMI is " + str(bmi))

What is your height? (公尺) : 1.78
What is your weight? (公斤) : 82
Your BMI is 25.88

In [22]:
# Q4.
for num in range(1,51):
    if num % (3 * 5) == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Buzz')
    else:
        print(str(num))

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz