<a href="https://colab.research.google.com/github/BingHung/AI/blob/master/Python_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
fn = 'csvReport.csv'
with open(fn) as csvFile:
  csvReader = csv.reader(csvFile)
  listReport = list(csvReader) #將csvReader專成list
print(listReport)

[['Name', 'Year', 'Product', 'Price', 'Quantity', 'Revenue', 'Location'], ['Diana', '2015', 'Black Tea', '10', '600', '6000', 'New York'], ['Diana', '2015', 'Green Tea', '7', '660', '4620', 'New York'], ['Diana', '2016', 'Black Tea', '10', '750', '7500', 'New York'], ['Diana', '2016', 'Green Tea', '7', '900', '6300', 'New York'], ['Julia', '2015', 'Black Tea', '10', '1200', '12000', 'New York'], ['Julia', '2016', 'Black Tea', '10', '1260', '12600', 'New York'], ['Steve', '2015', 'Black Tea', '10', '1170', '11700', 'Chicago'], ['Steve', '2015', 'Green Tea', '7', '1260', '8820', 'Chicago'], ['Steve', '2016', 'Black Tea', '10', '1350', '13500', 'Chicago'], ['Steve', '2016', 'Green Tea', '7', '1440', '10080', 'Chicago']]

In [2]:
import csv
fn = 'csvReport.csv'
with open(fn) as csvFile:
  csvReader = csv.reader(csvFile)
  for row in csvReader: #用for列出Reader
    print("Row %s = " % csvReader.line_num, row)

Row 1 =  ['Name', 'Year', 'Product', 'Price', 'Quantity', 'Revenue', 'Location']
Row 2 =  ['Diana', '2015', 'Black Tea', '10', '600', '6000', 'New York']
Row 3 =  ['Diana', '2015', 'Green Tea', '7', '660', '4620', 'New York']
Row 4 =  ['Diana', '2016', 'Black Tea', '10', '750', '7500', 'New York']
Row 5 =  ['Diana', '2016', 'Green Tea', '7', '900', '6300', 'New York']
Row 6 =  ['Julia', '2015', 'Black Tea', '10', '1200', '12000', 'New York']
Row 7 =  ['Julia', '2016', 'Black Tea', '10', '1260', '12600', 'New York']
Row 8 =  ['Steve', '2015', 'Black Tea', '10', '1170', '11700', 'Chicago']
Row 9 =  ['Steve', '2015', 'Green Tea', '7', '1260', '8820', 'Chicago']
Row 10 =  ['Steve', '2016', 'Black Tea', '10', '1350', '13500', 'Chicago']
Row 11 =  ['Steve', '2016', 'Green Tea', '7', '1440', '10080', 'Chicago']

In [3]:
import csv
fn = 'csvReport.csv'
with open(fn) as csvFile:
  csvReader = csv.reader(csvFile)
  listReport = list(csvReader)
for row in listReport: #
  print(row)

['Name', 'Year', 'Product', 'Price', 'Quantity', 'Revenue', 'Location']
['Diana', '2015', 'Black Tea', '10', '600', '6000', 'New York']
['Diana', '2015', 'Green Tea', '7', '660', '4620', 'New York']
['Diana', '2016', 'Black Tea', '10', '750', '7500', 'New York']
['Diana', '2016', 'Green Tea', '7', '900', '6300', 'New York']
['Julia', '2015', 'Black Tea', '10', '1200', '12000', 'New York']
['Julia', '2016', 'Black Tea', '10', '1260', '12600', 'New York']
['Steve', '2015', 'Black Tea', '10', '1170', '11700', 'Chicago']
['Steve', '2015', 'Green Tea', '7', '1260', '8820', 'Chicago']
['Steve', '2016', 'Black Tea', '10', '1350', '13500', 'Chicago']
['Steve', '2016', 'Green Tea', '7', '1440', '10080', 'Chicago']

In [4]:
print(listReport[0][1])

Year

In [5]:
print(listReport[0][1],listReport[2][3])

Year 7

In [10]:
import csv

fn = 'csvPeople.csv'
with open(fn) as csvFile:
  csvDictReader = csv.DictReader(csvFile) #DictReader
  for row in csvDictReader:
    print(row)
    print(row['first_name'],row['last_name'])
    print('-----------------------------------------------------------------------------------------------')

{'first_name': 'Eli', 'last_name': 'Manning', 'city': 'New York'}
Eli Manning
-----------------------------------------------------------------------------------------------
{'first_name': 'Kevin ', 'last_name': 'James', 'city': 'Cleveland'}
Kevin  James
-----------------------------------------------------------------------------------------------
{'first_name': 'Mike', 'last_name': 'Jordon', 'city': 'Chicago'}
Mike Jordon
-----------------------------------------------------------------------------------------------

In [16]:
import csv

fn = 'out_writerow.csv'
with open(fn, 'w',newline='')as csvFile:
  csvWriter = csv.writer(csvFile) #Writer
  csvWriter.writerow(['Name','Age','City'])
  csvWriter.writerow(['BH','25','KHH'])

In [17]:
import csv

fn = 'out_writerow1.csv'
with open(fn, 'w',newline='')as csvFile:
  csvWriter = csv.writer(csvFile, delimiter='\t') #delimiter
  csvWriter.writerow(['Name','Age','City'])
  csvWriter.writerow(['BH','25','KHH'])

In [24]:
import csv #Read csv and wirte in another csv
infn = 'csvReport.csv'
outfn = 'out_writerow2.csv'
with open(infn) as csvRFile:
  csvReader = csv.reader(csvRFile)
  listReport = list(csvReader)
print(listReport)

with open(outfn, 'w',newline='')as csvOFile:
  csvWriter = csv.writer(csvOFile)
  for row in listReport:
    csvWriter.writerow(row)

[['Name', 'Year', 'Product', 'Price', 'Quantity', 'Revenue', 'Location'], ['Diana', '2015', 'Black Tea', '10', '600', '6000', 'New York'], ['Diana', '2015', 'Green Tea', '7', '660', '4620', 'New York'], ['Diana', '2016', 'Black Tea', '10', '750', '7500', 'New York'], ['Diana', '2016', 'Green Tea', '7', '900', '6300', 'New York'], ['Julia', '2015', 'Black Tea', '10', '1200', '12000', 'New York'], ['Julia', '2016', 'Black Tea', '10', '1260', '12600', 'New York'], ['Steve', '2015', 'Black Tea', '10', '1170', '11700', 'Chicago'], ['Steve', '2015', 'Green Tea', '7', '1260', '8820', 'Chicago'], ['Steve', '2016', 'Black Tea', '10', '1350', '13500', 'Chicago'], ['Steve', '2016', 'Green Tea', '7', '1440', '10080', 'Chicago']]

In [20]:
import csv

fn = 'out_writerow3.csv'
with open(fn,'w',newline='') as csvFile:
  fields =['Name','Age','City']
  dictWriter = csv.DictWriter(csvFile, fieldnames=fields) #DictWriter

  dictWriter.writeheader()
  dictWriter.writerow({'Name':'LT','Age':'30','City':'TPE'})

In [27]:
import csv

dictlist =[{'Name':'LT','Age':'30','City':'TPE'},{'Name':'BH','Age':'25','City':'KHH'}]

fn = 'out_writerow4.csv'
with open(fn,'w',newline='') as csvFile:
  fields =['Name','Age','City']
  dictWriter = csv.DictWriter(csvFile, fieldnames=fields)
  dictWriter.writeheader()
  for row in dictlist:
    dictWriter.writerow(row)

**Project - Weather Report**